html {
    -ms-overflow-style: none;  /* IE 10+ */
    scrollbar-width: none; /* Firefox */
}

.cover {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 1;
}
 
.blur-in {
	-webkit-animation: blur 2s forwards;
	-moz-animation: blur 2s forwards;
	-o-animation: blur 2s forwards;
	animation: blur 2s forwards;
}
 
.blur-out {
	-webkit-animation: blur-out 2s forwards;
	-moz-animation: blur-out 2s forwards;
	-o-animation: blur-out 2s forwards;
	animation: blur-out 2s forwards;
}
 
@-webkit-keyframes blur {
	0% {
		-webkit-filter: blur(0px);
		-moz-filter: blur(0px);
		-o-filter: blur(0px);
		-ms-filter: blur(0px);
		filter: blur(0px);
	}
	 
	100% {
		-webkit-filter: blur(4px);
		-moz-filter: blur(4px);
		-o-filter: blur(4px);
		-ms-filter: blur(4px);
		filter: blur(4px);
	}
}
	 
@-moz-keyframes blur {
	0% {
		-webkit-filter: blur(0px);
		-moz-filter: blur(0px);
		-o-filter: blur(0px);
		-ms-filter: blur(0px);
		filter: blur(0px);
	}
	 
	100% {
		-webkit-filter: blur(4px);
		-moz-filter: blur(4px);
		-o-filter: blur(4px);
		-ms-filter: blur(4px);
		filter: blur(4px);
	}
}
 
@-o-keyframes blur {
	0% {
		-webkit-filter: blur(0px);
		-moz-filter: blur(0px);
		-o-filter: blur(0px);
		-ms-filter: blur(0px);
		filter: blur(0px);
	}
	 
	100% {
		-webkit-filter: blur(4px);
		-moz-filter: blur(4px);
		-o-filter: blur(4px);
		-ms-filter: blur(4px);
		filter: blur(4px);
	}
}
 
@keyframes blur {
	0% {
		-webkit-filter: blur(0px);
		-moz-filter: blur(0px);
		-o-filter: blur(0px);
		-ms-filter: blur(0px);
		filter: blur(0px);
	}
	 
	100% {
		-webkit-filter: blur(4px);
		-moz-filter: blur(4px);
		-o-filter: blur(4px);
		-ms-filter: blur(4px);
		filter: blur(4px);
	}
}
 
@-webkit-keyframes blur-out {
	0% {
		-webkit-filter: blur(4px);
		-moz-filter: blur(4px);
		-o-filter: blur(4px);
		-ms-filter: blur(4px);
		filter: blur(4px);
	}
	 
	100% {
		-webkit-filter: blur(0px);
		-moz-filter: blur(0px);
		-o-filter: blur(0px);
		-ms-filter: blur(0px);
		filter: blur(0px);
	}
}
 
@-moz-keyframes blur-out {
	0% {
		-webkit-filter: blur(4px);
		-moz-filter: blur(4px);
		-o-filter: blur(4px);
		-ms-filter: blur(4px);
		filter: blur(4px);
	}
	 
	100% {
		-webkit-filter: blur(0px);
		-moz-filter: blur(0px);
		-o-filter: blur(0px);
		-ms-filter: blur(0px);
		filter: blur(0px);
	}
}
 
@-o-keyframes blur-out {
	0% {
		-webkit-filter: blur(4px);
		-moz-filter: blur(4px);
		-o-filter: blur(4px);
		-ms-filter: blur(4px);
		filter: blur(4px);
	}
	 
	100% {
		-webkit-filter: blur(0px);
		-moz-filter: blur(0px);
		-o-filter: blur(0px);
		-ms-filter: blur(0px);
		filter: blur(0px);
	}
}
 
@keyframes blur-out {
	0% {
		-webkit-filter: blur(4px);
		-moz-filter: blur(4px);
		-o-filter: blur(4px);
		-ms-filter: blur(4px);
		filter: blur(4px);
	}
	 
	100% {
		-webkit-filter: blur(0px);
		-moz-filter: blur(0px);
		-o-filter: blur(0px);
		-ms-filter: blur(0px);
		filter: blur(0px);
	}
}
 
p.policy {
	color: #FFF;
	margin-top: 1rem;
}
 
.pop-up {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 20000;
	margin-top: 0;
}

a.user_policy {
	text-decoration: underline;
}

a.user_policy:hover {
	color: #00b8ff;
}

a.policy {
	color: #fff;
	position: relative;
    display: inline-block;
    padding: 15px;
    background-color: transparent;
    outline: none;
    font-family: inherit;
    font-size: 19px;
    font-weight: normal;
    line-height: 1.15384615;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
}

a.policy:hover {
	color: #000;
	background-color: #fff;
}
 
.box {
    background-color: #213548;
	text-align: center;
	width: 100%;
	display: flex;
	position: relative;
	-webkit-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.1);
}

#fixed {
	position: absolute;
	z-index: 1001;
	float: right;
	text-align: right;
	padding-right: 20px;
	padding-top: 90px;
	left: 91%;
}

#fixed .widget {
	height: 90px;
	width: 100px;
}

.sp-button.big.red.with-icon.full-width {
	z-index: 1000;
}

.menu-item.menu-green {
	margin-top: 18px;
}

/* Тільки для Internet Explorer 10 і 11 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.probootstrap-section {
		padding-top: 50px;
	}

	section.profile {
		padding-top: 50px;
	}

	.sticky-top {
		position: fixed;   
		width: 100%;                    
  		position: sticky;
  		z-index: 10000;
	}

	.slider__item_testimonial {
		max-width: 625px;
		margin-top: 70px;
	}

	.slider__item_action {
		max-width: 410px;
	}

	.slider__item_text {
		max-width: 410px;
	}
}


/* Тільки для Edge */
@supports (-ms-ime-align:auto) {

	.probootstrap-section {
		padding-top: 50px;
	}

	section.profile {
		padding-top: 50px;
	}

	.sticky-top {
		position: fixed;   
		width: 100%;                    
  		position: sticky;
  		z-index: 10000;
	}
}

.progress_width {
	width: 100%;
}

.progress-bar {
	height: 30px;
}

.progress .text {
	top: 92px;
}

.center.loader {
	z-index: 1000001;
	position: absolute;
	top: 50%;
	background-color: #fff;
	left: 50%;
	transform: translate(-50%, -50%);
}

.center.loader span {
	position: absolute;
	width: 20px;
	height: 20px;
	background: #262626;
	animation: animate 4s infinite ease-in-out;
}

.center.loader span:nth-child(1) {
	background: #00485f;
	left: -24px;
	top: -24px;
	animation-delay: .2s;
}

.center.loader span:nth-child(2) {
	background: #00deea;
	left: 0;
	top: -24px;
	animation-delay: .4s;
}
.center.loader span:nth-child(3) {
	background: #00deea;
	left: -24px;
	top: 0;
	animation-delay: .8s;
}

.center.loader span:nth-child(4) {
	background: #00485f;
	left: 0;
	top: 0;
	animation-delay: .6s;
}

@keyframes animate {
	0% {
		transform: rotateY(0deg);
	}

	20% {
		transform: rotateY(360deg);
	}

	40% {
		transform: rotateX(180deg);
	}

	60% {
		transform: rotateX(0deg);
	}

	80% {
		transform: rotateX(360deg);
	}

	100% {
		transform: rotateY(180deg);
	}
}

.login {
	padding-top: 8px;
	padding-bottom: 8px;
}

.menu-item.user-name {
	margin-top: 0;
}

.btn.btn-secondary.dropdown-toggle.avtorization {
	margin-bottom: 3px;
}

.prev_donat {
	width: 100% !important;
}

.m-b10.m-t15 {
	padding: 0px 138px 0px 16px;
}

.m-b10 {
	padding: 0px 0px 0px 16px;
}

span.spacer {
	height: 40px;
}

.to-top {
	cursor: pointer;
    width: 45px;
    height: 45px;
    font-size: 18px;
    line-height: 38px;
    border-radius: 50%;
    position: fixed;
	right: 25px;
    bottom: 25px;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    z-index: 20;
    transition: .3s all ease;
    box-shadow: 0 0 1px 0 rgba(159,159,159,.3);
    color: #fff;
    background: linear-gradient(#011233, #025688);
}

.to-top.active {
    transform: translateY(0);
}

.fa-angle-up {
	padding-top: 13px;
	color: #fff;
}

::-webkit-scrollbar {
	width: 0;
}

::-moz-scrollbar {
	width: 0;
}

::-ms-scrollbar {
	width: 0;
}

#progressbar {
	position: fixed;
	top: 0;
	right: 0;
	width: 12px;
	border-radius: 10px;
	z-index: 1000;
	background: linear-gradient(to top, #6d0290, #0066bd, #00f3ff);
}

.pre_footer {
    background-color: #0080CD;
    width: 100%;
}

.mx-auto.footer {
    width: 80%;
}

.slider__item {
	height: 400px;
}

.list-terms dt {
    font-size: 20px;
    line-height: 1.3;
    font-weight: 700;
    letter-spacing: 0;
    color: #29293a;
}

.section.section-lg.policy {
	margin-top: 0;
}

@media (min-width: 1200px) {
	.list-terms dt {
    	max-width: 85%;
    }
}

@media (max-width: 1024px) {
	#fixed {
		left: 90%;
	}
}

@media (min-width: 992px) {
	.list-terms dt + dd {
    	margin-top: 18px;
	}
}

@media (max-width: 991px) {
	.dropdown.avtorization {
		float: right;
	}

	.menu-item.menu-green {
		margin-top: 0;
	}
	
	.login {
		margin-top: 0;
	}

	.progress .text {
		width: 100%;
		top: 77px;
	}    

	#fixed {
    	padding-top: 60px;
    }

    #fixed .widget {
		height: 80px;
		width: 80px;
	}
}

@media (max-width: 768px) {
	#fixed {
		left: 87%;
	}
}

@media (min-width: 768px) {
	.col-md-offset-3.col-md-6 {
		margin: 0 auto;
    	-ms-flex: 0 0 50%;
    	flex: 0 0 50%;
    	max-width: 50%;
    }
	
	.list-terms dt {
    	font-size: 24px;
	}
}

@media (max-width: 625px) {
	#fixed {
		left: 85%;
	}	
}

@media (min-width: 625px) {
    .slider__item {
		height: 450px;
	}
}

@media (max-width: 425px) {
	.extra-nav {
		text-align: center;
	}
	
	.container.home {
    	padding-top: 130px;
	}

	.dropdown.avtorization {
		float: none;
	}

	.login {
		float: none !important;
	}

	.ribbon.label.red {
		padding-top: 3px;
	}

	.ribbon.label.red span {
		font-size: 20px;
	}

	.m-b10.m-t15 {
		padding-right: 0;
	}

	.slider__item_action {
		margin-top: 30px;
	}
	
	.slider__item {
		height: 430px; 
	}
	
	#fixed {
		left: 79%;
	}	
}

@media (max-width: 375px) {
	#fixed {
		left: 75%;
	}	
}

@media (max-width: 320px) {
	.m-b10 {
		padding-left: 0;
	}

	#fixed {
		left: 71%;
	}
}
